<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Mobilyte_Invoices::pending" title="Uncaptured Orders" translate="title" module="Mobilyte_Invoices" sortOrder="10" parent="Magento_Sales::sales" resource="Mobilyte_Invoices::pending" />
      
       <add id="Mobilyte_Invoices::pending_invoice" title="Pending Invoices" translate="title" module="Mobilyte_Invoices" sortOrder="50" parent="Mobilyte_Invoices::pending" action="invoices/post/index" resource="Mobilyte_Invoices::pending_invoice"/>
    </menu>
</config>
